@tailwind base;
@tailwind components;
@tailwind utilities;
 
body{
    background-color: black;
}
@keyframes typing{

    0% { 
        width: 0%;
     }
    100%{
        width: 70%;
    }
}
.typing-animation {
    display: inline-block;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.8s steps(20) 1s infinite;
}
.get-transition{
    transition: all 0.5s;
}

@keyframes colors{
    0%{
        background-color:wheat;
        color: black;
    }
    20%{
        background-color:aqua;
    }
    40%{
        background-color:yellow;
    }
    60%{
        background-color:green; 
    }
    80%{
        background-color:red;
    }
    100%{
        background-color:blueviolet;
    }

}
@keyframes imagetransit {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-8px);
    }
        50%{
            transform: translateY(0px);
        }
    75%{
        transform: translateY(8px);
    }
    100%{
        transform: translateY(0px);
    }
}
.image-transition{
    animation: imagetransit 3s infinite;
}
.colorTransition:hover{
    animation: colors 1.5s infinite;
}


.gradient{
    background: radial-gradient(circle at -2.9% 5.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
}
.true-black{
    background: linear-gradient(to right, #434343 0%, black 100%);
    transition: all 1s;
}
.true-black:hover{
    background-color: black;
}